// variables
$bgblack: black;
$bgwhite: white;
$bggrey: #B8B8B8;

.App {
  background-color: $bgblack;
  text-align: center;
}

.App-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.App-col {
  padding: 0 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main-content-left {
  background-color: $bggrey;
  min-height: 70vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.frame-button-left-layer1 {
  background-color: $bgblack;
  height: 260px;
  width: 130px;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  border: 25px solid white;
  border-right: 0;
  margin-top: 393px;
  .frame-button-left-layer2 {
    background-color: $bgwhite;
    min-height: 210px;
    width: 105px;
    border-top-left-radius: 115px;
    border-bottom-left-radius: 115px;
    border: 20px solid black;
    border-right: 0;
    .button-login-left {
      background: linear-gradient(180deg, rgba(9, 8, 8, 0.42) 0%, rgba(9, 8, 8, 0) 100%);
      min-height: 165px;
      width: 150px;
      border-radius: 50%;
    }
  }
}

.App-content-right-corner {
  background-color: $bgwhite;
  min-height: 15vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-content-right {
  background-color: $bgwhite;
  width: 22vw;
  .App-main-content-right {
    background-color: $bggrey;
    min-height: 70vh;
    width: 19.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .form-login {
      background-color: $bgwhite;
      min-height: 60vh;
      width: 18vw;
      .content {
        background-color: $bgblack;
        min-height: 24vh;
        width: 15vw;
        margin-top: 50px;
        margin-left: 27px;
        border-radius: 5px;
      }
      .frame-button-right-layer1 {
        background-color: $bgwhite;
        min-height: 260px;
        width: 130px;
        border-top-right-radius: 140px;
        border-bottom-right-radius: 140px;
        border: 25px solid black;
        border-left: 0;
        margin-top: 52px;
        .frame-button-right-layer2 {
          background: linear-gradient(180deg, rgba(9, 8, 8, 0.42) 0%, rgba(9, 8, 8, 0) 100%);
          min-height: 210px;
          width: 105px;
          border-top-right-radius: 115px;
          border-bottom-right-radius: 115px;
          border: 20px solid white;
          border-left: 0;
        }
      }
    
    }
    
  }
}

.App-footer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-carousel {
  img {
    transition: height 0.5s;
    transition: width 0.25s;
    width: 1000px;
    height: 600px;
  }
  :hover {
    width: 1010px;
    height: 610px;
    border-radius: 5px;
  }
}

.input-margin {
  margin-right: 15px;
  margin-left: 15px;
}


